.env
config.yaml

# Go
backup/bin/
*.test


# Node.js
node_modules/

# resources
static/fonts/

# compiled files
static/css/style.css
static/js/bundle.js
pkgs/pb


# IDEs
.vscode/
*.log
.genkit/

# others
.secrets/
configs/

# data
data/
cmd/tmp/
.devcontainer/.env
GEMINI.md
