.env

# Go
backup/bin/
*.test


# Node.js
node_modules/

# resources
static/fonts/

# compiled files
static/css/style.css
static/js/bundle.js
pkgs/pb


# IDEs
.vscode/
*.log

# others
.secrets/
configs/
